<%- include("partials/header") -%>


    <h1 class="display-6">
        <%= blogHeading %>
    </h1>

    <p class="lead medium">
        <%= blogBody %>
    </p>

    <%- include("partials/footer") -%>